@import "tailwindcss";

@theme {
  --color-foreground-100: white;
  --color-foreground-200: rgb(233, 233, 233);

  --color-base: #000000;

  --color-content-100: #111113;
  --color-content-200: #27272a;
  --color-content-300: #3f3f46;
  --color-content-400: #52525b;

  --color-subtle: #2d2d2d;
  --color-border-subtle: #ccc3;

  --color-primary-50: #001731;
  --color-primary-100: #002e62;
  --color-primary-200: #004493;
  --color-primary-300: #005bc4;
  --color-primary-400: #006fee;
  --color-primary-500: #338ef7;
  --color-primary-600: #66aaf9;
  --color-primary-700: #99c7fb;
  --color-primary-800: #cce3fd;
  --color-primary-900: #e6f1fe;
}

#root {
  min-height: 100vh;

  width: 100%;
}

body {


  background: var(--color-base);
  background-image: radial-gradient(
      circle at 96.74% 90.01%,
      #011b4de1,
      transparent 29%
    ),
    radial-gradient(circle at 9.92% 74.36%, #190b21, transparent 45%),
    radial-gradient(circle at 54.35% 34.01%, #130836, transparent 72%),
    radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}
