@import "tailwindcss";

@theme {
  --color-foreground-100: white;
  --color-foreground-200: rgb(212, 212, 212);

  --color-base: #000000;

  --color-content-50: #080808;
  --color-content-100: #111113;
  --color-content-200: #161618;
  --color-content-300: #3f3f46;
  --color-content-400: #52525b;

  --color-input: #18181b;

  --color-subtle: #2d2d2d;
  --color-border-subtle: #ccc3;

  --color-primary-50: #001731;
  --color-primary-100: #002e62;
  --color-primary-200: #004493;
  --color-primary-300: #005bc4;
  --color-primary-400: #006fee;
  --color-primary-500: #338ef7;
  --color-primary-600: #66aaf9;
  --color-primary-700: #99c7fb;
  --color-primary-800: #cce3fd;
  --color-primary-900: #e6f1fe;

  --color-red-600: oklch(0.577 0.245 27.325);
  --color-orange-600: oklch(0.646 0.222 41.116);
  --color-amber-600: oklch(0.666 0.179 58.318);
  --color-lime-600: oklch(0.648 0.2 131.684);
  --color-teal-600: oklch(0.6 0.118 184.704);
  --color-cyan-600: oklch(0.609 0.126 221.723);
  --color-blue-600: oklch(0.546 0.245 262.881);
  --color-purple-600: oklch(0.558 0.288 302.321);
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-gutter: stable;
}

body {
  background: var(--color-base);
  scrollbar-gutter: stable;
}
html {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.background-effect {
  background-image: radial-gradient(
      circle at 96.74% 90.01%,
      #011b4de1,
      transparent 29%
    ),
    radial-gradient(circle at 9.92% 74.36%, #190b21, transparent 45%),
    radial-gradient(circle at 54.35% 34.01%, #130836, transparent 72%),
    radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}

.card-gradient {
  background-image: radial-gradient(
      circle at 20.39% 120.56%,
      rgba(105, 99, 194, 0.075),
      transparent 80%
    ),
    radial-gradient(circle at 50% 50%, transparent, transparent 100%);
}

.post-success-overlay {
  background-image: radial-gradient(circle, #150f3e, rgba(54, 65, 83, 0.19));
}

.post-success-overlay-content {
  animation: scale-in 0.75s ease-out;
  transform: scale(1);
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-scale-in {
  animation: scale-in 0.2s ease-out;
}

.no-scroll, .no-scroll-menu {
  overflow: hidden;
}

.comment-tree-line {
  background: var(--color-subtle);
  background: linear-gradient(
    180deg,
    var(--color-subtle) 0% 90%,
    rgba(237, 221, 83, 0) 100%
  );
}
.comment-tree-line-horizontal {
  background: var(--color-subtle);
  background: linear-gradient(
    90deg,
    var(--color-subtle) 0%,
    rgba(237, 221, 83, 0) 100%
  );
}
